extends layout

block layout-content
  div.View
    h1.Banner Polyphony Dashboard
    div.Message
      div.Title
        h3 Unity and Simplicity
    //-     h1 For Twitch Streamers
    //-   span.Details Access the Polyphony Team Portal
    //- div.NavButtons
    //-   a(href="/user")
    //-       div.NavButton Just dive in!